default: &default
  url: "http://localhost:3000"
  domain: "intfocus.com"
  campaign:
    keywords: "code,info"
    colnum: 1
  cdn:
    jquery: "http://code.jquery.com/jquery-2.1.1.min.js"
    bootstrap_js: "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"
    bootstrap_css: "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
  website:
    title: "Collector"
    subtitle: "Focus"
    slogan: "IntFocus"
    favicon: "/images/favicon.ico"
  contact:
    weixin: "intfocus"

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
