.row
  .col-sm-8
    %h1 编辑Campaign

    = haml :form, layout: false

  .col-sm-4
    .alert.alert-warning{style: "margin-top: 25px;"}
      %div 温馨提示:
      %ol
        %li 字段数默认为1，最多30.
        %li 提交后,字段不可删减.
        %li 各字段名不可重复.
        %li 字段:正向添加，逆向删除.
        %li 字段名不可以与以下关键字冲突:<br>[code, info]
        %li 有api呼叫后,字段名不可修改.

