.row
  .col-sm-8
    %h2{style: "margin: 0px auto 10px auto;"} 创建Campaign
    = haml :form, layout: false

  .col-sm-4
    .alert.alert-warning{style: "margin-top: 25px;"}
      %div 温馨提示:
      %ol
        %li 字段数默认为#{Settings.campaign.colnum.minimum}，最多#{Settings.campaign.colnum.maximum}.
        %li 各字段名不可重复.
        %li 提交后,字段可修改不可删.
        %li 字段:正向添加，逆向删除.
        %li 有api呼叫后,字段名不可修改.
        %li 字段名不可与关键字冲突:<br>[#{Settings.campaign.keywords}]
